<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FormUser.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="FormUser.My.MySettings.USERConnectionString" connectionString="Data Source=localhost\MSSQLSERVER01;Initial Catalog=USER;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="FormUser.My.MySettings.Demo_LoginConnectionString"
            connectionString="Data Source=TUANPLUTO\ANHTUAN;Initial Catalog=Demo_Login;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <FormUser.My.MySettings>
            <setting name="email" serializeAs="String">
                <value />
            </setting>
            <setting name="password" serializeAs="String">
                <value />
            </setting>
            <setting name="check" serializeAs="String">
                <value>False</value>
            </setting>
        </FormUser.My.MySettings>
    </userSettings>
</configuration>